.col-lg-9
  %div(ng-app='calc_app' ng-controller="appController")
    #map(style="width: 900px; height: 300px")

    %form.css-form(name="form"  novalidate)
      .input-group
        %p
          Укажите данные груза:
        %p
          Вес(кг.)
          %input(type="text" name="weight" ng-model="payload.weight" ng-pattern="/^[1-9]\\d*$/" required)
          %p
            %div(ng-show="form.weight.$touched || form.$submitted")
              %small.label.label-danger(ng-show="form.weight.$invalid")
                Укажите положительное целое число.

        %p
          Длина(м):
          %input(type="text" name="length" ng-model="payload.length" ng-pattern="/^[1-9]\\d*$/" required)
          %p
            %div(ng-show="form.length.$touched || form.$submitted")
              %small.label.label-danger(ng-show="form.length.$invalid")
                Укажите положительное целое число.
        %p
          Высота(м):
          %input(type="text" name="height" ng-model="payload.height" ng-pattern="/^[1-9]\\d*$/" required)
          %p
            %div(ng-show="form.height.$touched || form.$submitted")
              %small.label.label-danger(ng-show="form.height.$invalid")
                Укажите положительное целое число
        %p
          Ширина(м):
          %input(type="text"  name="width" ng-model="payload.width" ng-pattern="/^[1-9]\\d*$/" required)
          %p
            %div(ng-show="form.width.$touched || form.$submitted")
              %small.label.label-danger(ng-show="form.width.$invalid")
                Укажите положительное целое число.
        %p
          Общий обеъм(м2): {{ payload.calcVolume() || 0 }}
        %p
          Расстояние(км.): {{ payload.distance || 0}}
        %p
          Пункт отправления:
          {{ startPoint.properties.get('name') }}
          {{ startPoint.geometry.getCoordinates() }}
          %p
            %small.label.label-danger(ng-show="!payload.startPoint")
              Укажите Пункт отправления на карте.
        %p
          Пункт назначения:
          {{ endPoint.properties.get('name') }}
          {{ endPoint.geometry.getCoordinates() }}
          %p
            %small.label.label-danger(ng-show="!payload.endPoint")
              Укажите Пункт назначения на карте.

        %input.btn.btn-default(type="submit" value="Рассчитать" ng-click="calculate(form)")
    %div
      История поиска:
      %ul.list-unstyled
        %li(ng-repeat="calculation in history | orderBy:predicate:true")
          {{calculation.start_point}} - {{calculation.end_point}} стоимость: {{calculation.cost}}р.
