!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= 'Dl calculator'
    %link{:type => "text/css", :rel => "stylesheet", :href => stylesheet_path('application')}
    %script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
    %script(src="#{javascript_path('app')}")

  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="#") Dl app
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: '/'} Расчет стоимости
            %li
              %a{href: '/top'} Топ городов отправки
    .container
      .row
        = yield
